<section>
  <h2>Données liées au formulaire de contact</h2>
  <hr>
  <p class="justify">Personnes concernées : <i>Quiconque envoyant un message à Ressources&Vous</i></p>
  <h3 class="justify">Données collectées</h3>
  <h4 class="justify">État civil, données d’identifications, images</h4>
  <ol>
    <li>Nom et prénom</li>
    <li>Numéro de téléphone (optionnel)</li>
    <li>Couriel</li>
  </ol>
  <h3 class="justify">Utilisation des données</h3>
  <p class="justify">
    Les données collectées serviront à envoyer un mail prérempli à Ressources&vous.</p>
  <h3 class="justify">Conservation de vos données</h3>
  <p class="justify">Les données collectées dans le cadre des formulaires de contacts sont ne sont pas conservées dans une base de donnée, elles sont directement envoyé à Ressources&Vous.</p>
</section>