<section class="section-primary">
  <h2>Données liées aux collectes</h2>
  <hr>
  <p class="justify">Personnes concernées : <i>Quiconque faisant appel à Ressources&Vous pour une collecte à domicile</i></p>
  <h3 class="justify">Données collectées</h3>
  <h4 class="justify">État civil, données d’identifications, images</h4>
  <ol>
    <li>Nom et prénom</li>
    <li>Numéro de téléphone</li>
    <li>Adresse</li>
    <li>Couriel</li>
  </ol>
  <h3 class="justify">Utilisation des données</h3>
  <p class="justify">
    Les données collectées serviront à produire une fiche de collecte pour nos équipes et à réaliser un devis dans le cas d’un débarras payant.
</p>
  <h3 class="justify">Conservation de vos données</h3>
  <p class="justify">Les données ne sont pas stocké dans une base de données, elles sont directement envoyé par mail à notre responsable de collecte qui supprimera le mail une fois la collecte effecutée.</p>
  <h3 class="justify">Modalités de suppression</h3>
  <p class="justify">
    Les données collectées peuvent être supprimées en envoyant un mail à l’adresse : <a href="mailto:donnees@ressourcesetvous.org?subject=[RGPD] Suppression de collecte" target="_blank" rel="noopener" title="Supprimer une demande de collecte">donnees@ressourcesetvous.org</a>. Merci de faire votre demande de suppression avec le mail indiqué lors de votre demande.
  </p>
</section>