<section class="section-dark">
  <h2>Accès au site</h2>
  <hr />
  <p class="justify">Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance. En cas de modification, interruption ou suspension des services le site ressourcesetvous.org ne saurait être tenu responsable.</p>
</section>