@use "sass:map";
@import "../../../variables.scss";

footer {
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 20px;
  & p {
    color: lighten($dark-color, 20%)
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  & .icon {
    width: 48px;
    height: 48px;
    background-color: map-get($map: $primary, $key: 500);
    transition: background-color .2s ease-in-out;
    display: grid;
    place-items: center;
    border-radius: 50%;
    & a {
      height: 28px;
    }

    &:hover {
      background-color: map-get($map: $primary, $key: 800);
    }
  }
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: .7rem;
  margin-bottom: 2rem;
}

.footer-link {
  color: map-get($map: $primary, $key: 500);
  text-decoration: none;
  transition: color .2s ease-in-out;
}

.footer-link:hover {
  color: map-get($map: $primary, $key: 800);
}

@media screen and (max-width: 40rem) {
  .footer-list {
    flex-direction: column;
  }

  .separator {
    display: none;
  }
}