<footer>
  <hr />
  <div class="icons">
    <span class="icon">
      <a target="_blank" title="Facebook Ressources&Vous" rel="noopener" href="https://www.facebook.com/RessourcesVous/?ref=br_rs">
        <img src="/assets/images/facebook.svg" height="28" alt="Logo Facebook">
      </a>
    </span>
    <span class="icon"><a target="_blank" title="Instagram Ressources&Vous" rel="noopener" href="https://www.instagram.com/ressources__et__vous/?hl=fr">
      <img src="/assets/images/instagram.svg" height="28" alt="Logo Instagram">
    </a>
  </span>
  </div>
  <p class="copyright">Copyright &copy; Ressources&Vous {{ year }}</p>
  <ul class="footer-list">
    <li class="footer-item"><a href="javascript:;" class="footer-link">Connexion</a></li>
    <li class="footer-item separator">|</li>
    <li class="footer-item"><a routerLink="/mentions-legales" class="footer-link">Mentions légales</a></li>
    <li class="footer-item separator">|</li>
    <li class="footer-item"><a routerLink="/reglementation-generale-pour-la-protection-des-donnees" class="footer-link">RGPD</a></li>
    <li class="footer-item separator">|</li>
    <li class="footer-item"><a href="javascript:;" class="footer-link">Contact</a></li>
  </ul>
</footer>