
@font-face {
  font-family: $title-font;
  src: url('./assets/fonts/ADAM.otf') format('opentype');
}

@font-face {
  font-family: $body-font;
  src: url('./assets/fonts/Cronos.ttf') format('truetype');
}

::selection {
  background-color: $dark-color;
  color: $light-color;
}


body, span, p, input, div, a, img { 
  font-family: $body-font, Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font, 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: 500;
}

h2, h3, h4, h4, h6 {
  width: clamp(300px, 80%, 1250px);
  margin: auto;
}

h1 {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;

}

h3 {
  font-size: 1.6rem;
  line-height: 1.35;
  margin-bottom: 1.1rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}


p {
  width: clamp(300px, 80%, 1250px);
  margin: auto;
  text-align: center;
  font-size: 1.15rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

a {
  color: map-get($map: $primary, $key: 600);
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    color: map-get($map: $primary, $key: 800);
  }
}

ol {
  text-align: start;
  list-style-type: decimal;
  width: clamp(300px, 80%, 1250px);
  margin: auto;
  padding-left: 30px;
}

section, main, header {
  text-align: center;
}

section, main {
  background-color: $light-color;
}

.section-dark *, .section-primary * {
  color: $light-color;
  text-decoration: none;
}

.section-dark *::selection {
  background-color: opacify($color: $light-color, $amount: .6);
  color: $dark-color;
}

.justify {
  text-align: justify;
}

@media screen and (max-width: 540px) {
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.35rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  p, a {
    text-align: unset;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.35rem;
  }
  h3 {
    font-size: 1.23rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  p, a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.12rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: .87rem;
  }
  p, a {
    font-size: .79rem;
  }
}