@use '~@angular/material' as mat;
@use 'sass:map';
@import "./variables";
@include mat.core();

$web-primary: mat.define-palette($primary);
$web-accent: mat.define-palette($accent, A200, A100, A400);
$web-warn: mat.define-palette($warn);

$web-theme: mat.define-light-theme((
  color: (
    primary: $web-primary,
    accent: $web-accent,
    warn: $web-warn,
    )
    ));
    
    @include mat.all-component-themes($web-theme);
    @import "./typography";


*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: $light-color;
}

body::-webkit-scrollbar-thumb {
  background-color: map-get($primary, 600);
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: map-get($primary, 800);
  }
}

html, body { 
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

section, main, header {
  padding-block: 5rem;
  position: relative;
}

section, main {
  background-color: $light-color;
}

hr {
  max-width: 50px;
  border-radius: 2px;
  border: solid 3px map-get($map: $primary, $key: 500);
  margin: 1rem auto;
}

.section-primary {
  background-color: map-get($map: $primary, $key: 700);

  & hr {
    border-color: $light-color !important;
  }
}

.section-dark {
  background-color: $dark-color;
  
  & hr {
    border-color: $light-color !important;
  }
}


@media screen and (max-width: 540px) {
  section, main, header {
    padding-block: 2rem;
  }
}

@media screen and (max-width: 400px) {
  section, main, header {
    padding-block: 1.6rem;
  }
}

@media screen and (max-width: 300px) {
  section, main, header {
    padding-block: 1rem;
  }
}