<section>
  <h2>L'Hébergement</h2>
  <hr/>
  <p class="justify">L'hébergement du site ressourcesetvous.org est assuré par <a href="https://victor-gorecki.fr" target="_blank" rel="noopener" title="Site du développeur">Victor Gorecki</a>. Les serveurs sont localisés chez <a href="https://online.net" target="_blank" rel="noopener" title="Hébergeur du site ressourcesetvous.org">Online.net (Scaleway Dedibox)</a>,  contact: ONLINE SAS BP 438 75366 PARIS CEDEX 08</p>
</section>