@import "../../../variables";

.cta-link {
  background-color: $light-color;
  color: $dark-color;
  display: inline-block;
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 500px;

  &:hover {
    background-color: darken($light-color, 25%);
  }
}