<section>
  <h2>Qui sommes nous ?</h2>
  <hr />
  <p>Ressources&Vous est une ressourcerie, association d'intérêt général, chantier d'insertion, qui gère des lieux de collecte, de valorisation et de vente solidaire d'objets récupérés puis réemployés.
    Par cette activité de réemploi, les ressourceries sont des lieux foisonnants où se déploient des savoir-faire, où la sensibilisation prend la forme de l’expérimentation, où le bénévolat crée du lien local et où les logiques d’insertion permettent à chacun de trouver sa place.
    Elles s’associent donc à la terminologie de tiers-lieux car le gisement d’objets permet la création de multiples projets associatifs. Elles s’associent aussi à des objectifs sociaux et solidaires par l’insertion, par la boutique solidaire et par la création de lien social.</p>
  <a routerLink="/presentation" class="cta-link">Voir plus d'informations</a>
</section>