<header>
  <h1>Mentions légales du site ressourcesetvous.org</h1>
  <hr>
  <p class="justify">Ces mentions légales sont en vigueur à partir de la date du 14 mai 2020.<br/>
    Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site ressourcesetvous.org les présentes mentions légales. La connexion et la navigation sur le site ressourcesetvous.org par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>
</header>