<section class="section-primary">
  <h2>Données liées aux collectes</h2>
  <hr>
  <p class="justify">Personnes concernées : <i>Quiconque faisant appel à Ressources&Vous pour une collecte à domicile</i></p>
  <h3 class="justify">Données collectées</h3>
  <h4 class="justify">État civil, données d’identifications, images</h4>
  <ol>
    <li>Adresse</li>
  </ol>
  <h3 class="justify">Utilisation des données</h3>
  <p class="justify">
    Les données collectées serviront comme fichier d’envoie des lettres d'information de Ressources&vous.

  </p>
  <h3 class="justify">Conservation de vos données</h3>
  <p class="justify">Les données collectées dans le cadre des collectes sont conservées 5 ans dans la base de donnée active et supprimées au bout de cette période.

  </p>
  <h3 class="justify">Modalités de suppression</h3>
  <p class="justify">
    Les données collectées peuvent être supprimées en envoyant un mail à l’adresse : <a href="mailto:donnees@ressourcesetvous.org?subject=[RGPD] Désabonnement à la newsletter" target="_blank" rel="noopener" title="Débonnement de la newsletter">donnees@ressourcesetvous.org</a>. Vous pouvez vous désabonner directement en cliquant sur un lien en bas d'un mail d'une lettre d'information.
  </p>
</section>