<section class="section-dark">
  <h2>Vous êtes intéressés par notre démarche ?</h2>
  <hr />
  <p class="contact-caption">N'hésitez pas à rejoindre la ressourcerie Ressources&Vous pour participer à une démarche d'intérêt général</p>
  <div class="split">
    <div>
      <div class="icon">
        <img src="/assets/images/icons/phone.svg" width="64" height="64" alt="Icône de téléphone">
        <div class="contact-link">
          <a href="tel:+33951235931">09 51 23 59 31</a>
        </div>
      </div>
      <div class="icon">
        <img src="/assets/images/icons/envelope.svg" width="64" height="64" alt="Icône de téléphone">
        <div class="contact-link">
          <a href="mailto:accueil@ressourcesetvous.org">accueil@ressourcesetvous.org</a>
        </div>
      </div>
    </div>
    <div>

    </div>
  </div>
</section>