@import "../../../variables";

.split {
  width: clamp(250px, 50%, 750px);
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  & > div {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .3rem;
}

.contact-link a {
  color: $light-color;
  font-size: 1.175rem;
  &:hover {
    text-decoration: underline;
  }
}