<section class="section-primary">
  <h2>Article 1 : L'Éditeur</h2>
  <hr>
  <p class="justify">L'édition du site ressourcesetvous.org est assurée par la Société Association d'intérêt général Ressources&Vous enregistré sous le numéro 824350926 dont le siège social est situé au 7 rue de l'Église, 78610 Le Perray en Yvelines, numéro de téléphone 0951235931, courriel : accueil@ressourcesetvous.org. Le Directeur de la publication est Victor Gorecki.</p>
</section>