<section>
  <h2>Article 4 : Collecte des données</h2>
  <hr />
  <p class="justify">Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.. En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. Pour plus d'informations, vous pouvez vous référer à la page concernant la <a routerLink="/reglementation-generale-pour-la-protection-des-donnees">Règlementation Générale pour la Protection des Données</a> </p>
</section>