<section>
  <h2>Article 6 : Propriété intellectuelle</h2>
  <hr>
  <p class="justify">
    Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site ressourcesetvous.org, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.
  </p>
</section>