@use "sass:map";
@import "../../../variables.scss";

nav {
  width: 100%;
  height: 100px;
  background-color: $light-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;

  & .brand-icon {
    text-decoration: none;
    width: auto;
    margin-left: 30px;
    justify-self: flex-start !important;
    background-color: transparent;
    vertical-align: middle;
    height: 100%;

    & img {
      max-width: 100%;
      width: auto;
      max-height: 85%;
      object-fit: contain;
      margin-top: 3.5%;
    }
  }
}

ul.navbar {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
  gap: 1.2rem;
  margin: 0;

  & li.navbar-item {
    & a.navbar-link {
      transition: color 0.2s ease-in-out;
      color: black;
      font-size: 1.1rem;
      text-decoration: none;
      font-weight: 700;

      &:is(:hover, .nav-active) {
        color: map-get($map: $primary, $key: 500);
      }
    }
  }
}


.responsive-button {
  position: relative;
  right: 1em;
  top: .5em;
  display: none;
}

.toggle-navbar {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 0;
  background-color: $light-color;
  width: 100%;
  height: 100%;
  padding: 0;

  & .bar {
    width: 35px !important;
    height: 5px !important;
    background-color: $dark-color;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;

    &:first-child {
      margin-top: 0;
    }
  }

  &:is(:hover, :focus) .bar {
     background-color: map-get($map: $primary, $key: 500);
  }
}

.close .bar {
  &:first-child {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  &:nth-child(2) {
    opacity: 0;
  }
  &:last-child {
    transform: rotate(45deg) translate(-8px, -8px);
  }
}


.dropdown {
  position: relative;

  & > a::after {
    content: "";
    border: solid $dark-color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg) translateY(-3px);
    transition: all 0.2s ease-in-out;
  }

  & > a:hover::after {
    border-color: map-get($map: $primary, $key: 500);

  }

  & .dropdown-list {
    margin-top: 10px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    background: $light-color;
    left: 50%;
    list-style: none;
    border-radius: 5px;
    z-index: 1001;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -10px);
    transition: all 0.2s ease;
    box-shadow: 2px 1px 4px 0 lighten($color: $dark-color, $amount: 30%);
    & .dropdown-item {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: .5rem;

      & .dropdown-link {
        color: $dark-color;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.1rem;
      }

      &:hover {
        background-color: map-get($map: $primary, $key: 100);
        border-radius: 5px;
      }
    }
  }

  & a:focus-within::after {
    transform: rotate(-135deg) translateX(-3px) translateY(0px) ;

  }

  & a:focus-within + .dropdown-list {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, 0px);
  }
}

@media only screen and (max-width: 1000px) {
  ul.navbar {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1000;
    background-color: $light-color;
    width: 100%;
    transition: display .2s ease-in-out;
    flex-direction: column;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }

  ul.navbar-active {
    display: flex;
  }

  nav {
    justify-content: space-between;
    align-items: center;
    flex-direction: unset;
  }

  .responsive-button {
    display: inline-block;
  }
}
