<nav>
  <div class="brand-icon">
    <a routerLink="/">
      <img src="/assets/images/logo.webp" alt="">
    </a>
  </div>
  <ul class="navbar" [class.navbar-active]="navbarVisible">
    <li class="navbar-item" role="presentation">
      <a routerLink="/presentation" routerLinkActive="nav-active" class="navbar-link">
        Qui sommes-nous ?
      </a>
    </li>
    <li class="navbar-item dropdown" role="presentation">
      <a href="javascript:;" routerLinkActive="nav-active" class="navbar-link">
        Boutique solidaires
      </a>
      <ul class="dropdown-list">
        <li class="dropdown-item" *ngFor="let item of places$ | async; trackBy: trackBy">
          <a href="javascript:;" [routerLink]="['/boutique-solidaire', item.uuid]" routerLinkActive="nav-active"  class="dropdown-link">
            {{ item.title }}
          </a>
        </li>
      </ul>
    </li>
    <li class="navbar-item dropdown" role="presentation">
      <a href="javascript:;" routerLinkActive="nav-active" class="navbar-link">
        Dépôts et collectes
      </a>
        <ul class="dropdown-list">
          <li class="dropdown-item"><a href="javascript:;" class="dropdown-link">Collectes à domiciles</a></li>
          <li class="dropdown-item"><a href="javascript:;" class="dropdown-link">Collectes en dépôts</a></li>
        </ul>
    </li>
    <li class="navbar-item" role="presentation">
      <a routerLink="/sensibilisation" routerLinkActive="nav-active" class="navbar-link">
        Sensibilisation
      </a>
    </li>
    <li class="navbar-item" role="presentation">
      <a routerLink="/agenda" routerLinkActive="nav-active" class="navbar-link">
        Agenda
      </a>
    </li>
    <li class="navbar-item" role="presentation">
      <a routerLink="/actualites" routerLinkActive="nav-active" class="navbar-link">
        Actualités
      </a>
    </li>
    <li class="navbar-item" role="presentation">
      <a routerLink="/foire-aux-questions" routerLinkActive="nav-active" class="navbar-link">
        FAQ
      </a>
    </li>
    <li class="navbar-item" role="presentation">
      <a routerLink="/nous-rejoindre" routerLinkActive="nav-active" class="navbar-link">
        Nous rejoindre
      </a>
    </li>
  </ul>

  <div class="responsive-button" aria-label="Afficher la barre de navigation">
    <button class="toggle-navbar" [class.close]="navbarVisible" (click)="navbarVisible = !navbarVisible" aria-hidden="true">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
  </div>
</nav>