<section>
  <h1>Politique de collecte et d'utilisation des données de Ressources&Vous</h1>
  <hr>
  <h2>Préambules et données récoltées pour une utilisation normale du site</h2>
  <hr>
  <h3 class="justify">Délégué de la protection des données</h3>
  <p class="justify">
    Le rôle de délégué de la protection des données est d’assurer le respect de la mise en place d’une charte RGPD (Règlement Général sur la Protection des Données) selon les lois en vigueur, dans le cas présent, la loi n° 2018-493 du 20 juin 2018.
Pour Ressources&vous, le délégué est : <strong>Tanguy Neveu (Ressources&Vous)</strong>, résidant au <i>7 rue de l'Église 78610 Le Perray en Yvelines</i>.
  </p>
  <h3 class="justify">Préambule</h3>
  <p class="justify">Ressources&vous ne diffusera ou vendra vos informations personnelles à nos partenaires. De plus, nous ne vous demanderons jamais de communiquer des données à caractères sensibles (tels que des informations personnelles non listées ci-dessous, ou bancaire) par mail ou SMS. Si vous êtes victime d’une attaque de Phising, Ressources&vous ne pourra pas être considéré comme responsable et nous vous prions de faire nous faire remonter l’existence de l’attaque pour réagir en conséquence.</p>
  <h3 class="justify">Données nécessaires à l’utilisation du site</h3>
  <p class="justify">Pour assurer le fonctionnement du site et sécurisé ce dernier contre les attaques de force brute, ressourcesetvous.org collecte les adresses ip de ses utilisateurs. Ces dernières ne sont utilisés qu’en cas de détection d’attaque pour remonter à son origine.
    Nous n’utilisons pas les adresses IP pour faire du “IP tracking”, processus visant à optimiser des revenus commerciaux par l’historique de consultation d’un utilisateur sur le site.</p>
</section>