<main role="main" id="ouvertures">
  <h2 class="section-header">Sommes-nous ouvert ?</h2>
  <hr />
  <h3 class="shop-title">Nos boutiques solidaires</h3>
  <p>Nos boutiques solidaires sont ouvertes les mercredis et les samedis de 10h à 18h</p>
  <h3 class="warehouse-title">Nos dépots</h3>
</main>