<header>
  <picture>
    <source media="(max-width: 576px)" srcset="/assets/images/backgrounds/background-small-tablet.webp" type="images/webp">
    <source media="(max-width: 576px)" srcset="/assets/images/backgrounds/background-small-tablet.jpeg">
    <source media="(max-width: 768px)" srcset="/assets/images/backgrounds/background-tablet.webp" type="images/webp">
    <source media="(max-width: 768px)" srcset="/assets/images/backgrounds/background-tablet.jpeg">
    <source srcset="/assets/images/backgrounds/background.webp" type="image/webp">
    <img src="/assets/images/backgrounds/background.jpeg" alt="Fond d'écran, la ressourcerie du Perray">
  </picture>
  <div class="backdrop"></div>
  <div class="container">
    <div class="content">
      <h1 id="hero">Ressources&Vous</h1>
      <hr />
      <p class="hero-caption">Récup’, Répar’ et Compagnie</p>
    </div>
  </div>
  <a class="cta-link" href="#ouvertures">Sommes-nous ouvert ?</a>
</header>