@use "sass:map";
@import "../../../variables.scss";

header {
  width: 100%;
  position: relative;
  height: calc(100vh - 120px);
  & picture {
    overflow: hidden;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    object-fit: cover;

    & img {
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.backdrop {
    position: absolute;
    width: 100%;
    max-height: calc(100vh - 120px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -9;
    background-color: rgba(0, 0, 0, 0.6);
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

h1#hero {
  color: $light-color;
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  width: 100%;
  text-align: center;
}

p.hero-caption {
  margin-top: 2.3rem;
  color: $light-color;
  width: 100%;
}

.cta-link {
  position: absolute;
  display: inline-block;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: map-get($map: $primary, $key: 500);
  color: $dark-color;
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 500px;

  &:hover {
    background-color: map-get($map: $primary, $key: 800);
    color: $light-color;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    font-size: 3rem !important;
  }
  .cta-link {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 540px) {
  #hero {
    font-size: 2.5rem !important;
  }
  .cta-link {
    margin: auto !important;
    width: clamp(150px, 75%, 350px);
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 400px) {
  #hero {
    font-size: 2rem !important;
  }
  .cta-link {
    font-size: 1rem !important;
  }
}